{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/following.js' %}"></script>
    <script src="{% static 'network/createElements.js' %}"></script>
    <script src="{% static 'network/API.js' %}"></script>
    <script src="{% static 'network/posts.js' %}"></script>
    <script src="{% static 'network/like.js' %}"></script>
    <script src="{% static 'network/getCookies.js' %}"></script>
    <script src="{% static 'network/edit.js' %}"></script>
{% endblock %}

{% block username %}
    {{ user.is_authenticated|json_script:"user_is_authenticated" }}
{% endblock %}

{% block body %}
    <div class="card border-0 shadow-sm mb-4">
        <div class="card-body p-4">
            <h6 class="mb-0">Following</h6>
        </div>
    </div>

    <div id="FollowingPostsContainer">
        
    </div>

    <nav class="my-4" id="FollowingPaginationContainer">
        
    </nav>
{% endblock %}